<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header class="global_header">
    <section class="logo_tile">
      <div>
        <h1 class="site_name">Recipe Keeper</h1>
      </div>
      
      <div class="user_welcome">
        <% if logged_in?%>
          <h3>Welcome <%= user['first_name']%> </h3>

          <form action="/sessions" method="POST">
                <input type="hidden" name="_method" value="delete">
                <button>Log Out</button>
            </form>
        <% else %>
          <p><a href="/sessions/new">Sign In</a></p>
        <% end %>
      
      </div>
    </section>
    
    <section class="nav_bar">
      <nav class='header_nav'>
        <ul class="nav_list">
          <li><a href="/">Home Page</a></li>
          <li>Liked Recipes</li>
          <li>Created Recipes</li>
          <li><a href="/recipes/new">Create New Recipe</a></li>
        </ul>
      </nav>
    </section>
    
  </header>
  <main>
    <%= yield %>
  </main>

</body>
</html>
