* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.global_header{
    background-color: blanchedalmond;
    width: 100%;
    padding: 0.5rem 0;
}

.site_name{
    margin-top: 0;
}

.nav_bar{
    background-color: rgb(47, 8, 83);
}

.nav_list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    width: 40%;
    margin: 0 auto;
    color: white;
}

.nav_list a {
    color: white;
    text-decoration: none;
}

.recipes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.25rem;
    margin-top: 1.5rem;
}

.recipe img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.button {
    border: 1px solid black;
    padding: 0.25rem 0.5rem;
    background-color: rgb(212, 41, 41);
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
    cursor: pointer;
}

.recipe header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: rgb(38, 168, 92);
}

.recipe h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.controls {
    display: flex;
    gap: 0.5rem;
}

.recipe_detail {
    width: 300px;
}

.input.directions {
    width: fit-content
}

.recipe_link {
    border: 1px solid black;
    padding: 0.25rem 0.5rem;
    background-color: none;
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
    cursor: pointer;
}

.sign_up_form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: fit-content;
    gap: 0.3rem;
}

.sign_up.labels,
.sign_up.inputs{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.sign_up_btn{
    width: fit-content;
}

.error_msg{
    color: red;
}

textarea {
    min-width: 30rem;
}

.session_new {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
    /* text-align: center; */
    align-content: center;
    align-items: center;
    /* justify-content: space-between; */
}