* {
    box-sizing: border-box;
}

 /* layout.erb */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}

main {
    width: 95%;
    margin: 0 auto;
}

.global_header{
    background-color: blanchedalmond;
    width: 100%;
    padding: 0.5rem 0;
}

.logo_tile {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 0 3rem;
}

.site_name{
    margin: auto;
}

.user_welcome{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.nav_bar{
    background-color: rgb(47, 8, 83);
    padding: 0.8rem 0;
}

.nav_list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* gap: 2rem; */
    width: 80%;
    margin: 0 auto;
    color: white;
}

.nav_list a {
    color: white;
    text-decoration: none;
}

/* homepage */

.recipes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.25rem;
    margin-top: 1.5rem;
}

.recipe img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.button {
    /* border: 1px solid black; */
    padding: 0.25rem 0.5rem;
    background-color: rgb(47, 8, 83);
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
    cursor: pointer;
}

.unlike-btn {
    color: white;
    background-color: rgb(47, 8, 83);
    border: none;
    border-radius: 20%;
    font-size: 2rem;
    cursor: pointer;
}

.like-btn {
    color: rgb(47, 8, 83);
    background-color: rgb(47, 8, 83);
    border: none;
    border-radius: 20%;
    font-size: 2rem;
    text-stroke: 1px white;
    -webkit-text-stroke: 1px white;
    -moz-text-stroke: 1px white;
    cursor: pointer;
}

.tile_header {
    display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: rgb(47, 8, 83);
    color: white;
    width: 100%;
    border-radius: 2rem 2rem 0 0;
}

.tile_header .top{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: 100%;
}

.tile_header p {
    margin: 0;
}

.tile_title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.controls {
    display: flex;
    gap: 0.5rem;
}

.recipe_detail {
    width: 300px;
}

.input.directions {
    width: fit-content
}

.recipe_link {
    /* border: 1px solid black; */
    /* padding: 0.25rem 0.5rem; */
    background-color: none;
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0 0 2rem 2rem;
}

.sign_up_form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: fit-content;
    gap: 0.3rem;
}

.sign_up.labels,
.sign_up.inputs{
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    gap: 1rem;
}

.sign_up_btn{
    width: fit-content;
}

.error_msg{
    color: red;
}

textarea {
    min-width: 30rem;
}

/* recipe_detail.erb */

.detail_list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap: 2rem; */
    width: 30%;
    margin: 0;
}