
<section>
    <h2>Log In</h2>

    <form action="/sessions" method='POST' class="sign_in_form">
        <label for="">Email:</label>
        <input type="text" name='email'>
        
        <label for="">Password:</label>
        <input type="password" name='password'>

        <button>Log In</button>
    </form>
</section>

<h3>OR</h3>

<a href="/users/new">Create a new account.</a>